head
    title!= public._data.page_title

    //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    //- Typekit 
    script(src="https://use.typekit.net/sdv8lwg.js")
    script.
        try{Typekit.load({ async: true });}catch(e){}
    //- Kickstart
    script(src="js/jquery-1.9.1.min.js")
    script(src="js/kickstart.js")
    script(src="js/main.js")
    link(rel="stylesheet" href="css/kickstart/kickstart.css" media="all")
    link(rel="stylesheet" type="text/css" href="css/base.css")
