div(class="inner-container")
    form(action="//formspree.io/example@example.com" method="POST")
        input(type="text" name="_gotcha" style="display:none")
        input(type="hidden" name="_subject" value="INVESCAP formulario de contacto")
        input(type="hidden" name="_next" value="/")

        input(type="text" name="name" placeholder="Nombre")
        input(type="email" name="_replyto" placeholder="Correo electrónico")
        textarea(name="comments" placeholder="Preguntas o comentarios?")
        input(type="submit" value="Send")
hr

