section(class="core-information map clearfix")
    section(class="map-info")
        section(class="background clearfix")
            h2 Conteo de fondos en M&eacute;xico
            div(class="col_2") +2
            div(class="col_2") +4
            div(class="col_2") +22
            div(class="col_2") +39
            div(class="col_2") +38
            div(class="col_2") +45
        div(class="col_2") Deuda
        div(class="col_2") Fondo de Fondos
        div(class="col_2") Infrastructura
        div(class="col_2") Inmobilarios
        div(class="col_2") Capital Privado
        div(class="col_2") Capital Emprendedor
    div(class="inner-container")
        section(class="map-image")
            img(src="/images/map.png")
        include ./share_footer
