section(class="core-information que-es-invescap")
    div(class="inner-container")
        h4 &iquest;Qu&eacute; es INVESCAP?
        p.
            Es un Programa Ejecutio de Administraci&oacute;n y Operaci&oacute;n de Capital Privado y Capital Emprendedor impartido por esta instituci&oacute;n, en M&eacute;xico.
        p.
            El curso se inicia el pr&oacute;ximo 24 de Febrero del 2016 en las instalaciones del Technol&oacute;ngico de Monterrey Campus Guadalajara.

        include ./share_footer
