section(class="core-information que-es-invescap")
    div(class="inner-container")
        h4 &iquest;Qu&eacute; es INVESCAP?
        p.
            Es un Programa Ejecutio de Administraci&oacute;n y Operaci&oacute;n de Capital Privado y Capital Emprendedor impartido por esta instituci&oacute;n, en M&eacute;xico.
        p.
            El curso se inicia el pr&oacute;ximo 24 de Febrero del 2016 en las instalaciones del Technol&oacute;ngico de Monterrey Campus Guadalajara, cuenta 12 m&oacute;dulos con +70 horas de capacitati&oacute;n, dictada por acad&eacute;micos y l&iacute;deres pertenecientes a los fondos de capital emprendedor de mayor relevancia em M&eacute;xico asi como organizaciones l&iacute;deres provedoras de servicios a nivel nacional e internacional.
        p.
            Ser&sacute;a el primer programa de fondos que le da una importancia especial al ccapital semilla y al emprendedimiento tecnol&oacute;gico.

        include ./share_footer
