section(class="dinamica clearfix")
    div(class="inner-container")
        div(class="col_12")
            h2(class="col_6") Din&aacute;mica del Programa
            p(class="col_6") El programa es basar&aacute; en el an&aacute;lisis y la experencia de los principlaes referentes del sector.
        div(class='col_12')
            div(class="col_2")
            div(class="col_2 content") Casos Pr&aacute;cticos
            div(class="col_2 content") Discusiones
            div(class="col_2 content") Visi&oacute;n
            div(class="col_2 content") Networking
            div(class="col_2")
