section(class="core-information map clearfix")
    section(class="map-image parallax background-image")
            //- img(src="images/map.png")
    section(class="map-info")
        section(class="background clearfix")
            h2 Conteo de fondos en M&eacute;xico
            p(class="col_2") +2
            p(class="col_2") +4
            p(class="col_2") +22
            p(class="col_2") +39
            p(class="col_2") +38
            p(class="col_2") +45
        p(class="col_2") Deuda
        p(class="col_2") Fondo de Fondos
        p(class="col_2") Infrastructura
        p(class="col_2") Inmobilarios
        p(class="col_2") Capital Privado
        p(class="col_2") Capital Emprendedor
    section(class="inner-container")
        include ./share_footer
