section(class="objetivos clearfix")
    div(class="parallax background-image")
    a(name="objetivos")
    div(class="inner-container")
        h2 Objetivos del Programa
        div(class="objetivos-container-3 clearfix")
            div(class="objetivo")
                h3 Aspectos Generales de un Fondo
                ul
                    li Fuentes de fondeo
                    li Panoramam de la industria
                    li Como dana dinero un fondo
            div(class="objetivo")
                h3 Herramientas para Analizar Empresas
                ul
                    li Valuaciones
                    li Inversiones
                    li Seguimiento
            div(class="objetivo")
                h3 Estrategias para Crear un Fondo
                ul
                    li Documentaci&oacute;pra levantar un fondo
                    li Aspectos legales y fiscales
                    li Rol del gobierno

        div(class="objetivos-container-2 clearfix")
            div(class="objetivo")
                h3 Organiazaciones Relevantes
                ul
                    li Tendencias del sector
            div(class="objetivo")
                h3 Networking
                ul
                    li Con:
                    li Speakers del programa
                    li Personas del sector invitados
