section(class="dinamica clearfix")
    div(class="inner-container")
        div(class="col_12")
            h2(class="col_6") Din&aacute;mica del Programa
            p(class="col_6 bottom-align-right") El programa es basar&aacute; en el an&aacute;lisis y la experencia de los principlaes referentes del sector.
        div(class='col_12 horizontal-list')
            div
                p Casos Pr&aacute;cticos
            div
                p Discusiones
            div
                p Visi&oacute;n
            div
                p Networking
