section(class="admisiones clearfix")
    div(class="parallax background-image")
    a(name="admisiones")
    div(class="inner-container")
        h2 Admisiones
        div(class="admisiones-container-3 clearfix")
            div(class="admision")
                h3 Inversi&oacute;n
                ul
                    li $69,000 + IVA
            div(class="admision")
                h3 Pagos
                ul
                    li 3, 6, 9 y 12
                    li Meses sin intereses
            div(class="admision")
                h3 Becas
                ul
                    li Exactec 25%
                    li 2 o m&aacute;s participantes de una sola instituci&oacute;n 25%
                    li Becas especiales
