section(class="header header-desktop")
    div(class="inner-container")
        div(class="logo-wrapper col_12")
            div(class="logo logo-egade col_6")
            div(class="logo logo-invescap col_6")
