section(class="header header-desktop clearfix")
    div(class="inner-container")
        div(class="logo-wrapper col_12")
            div(class="col_6")
                img(src="images/logo-egade.png" class="center-image")
            div(class="col_6")
                img(src="images/logo-invescap.png" class="center-image")
