section(class="footer footer-desktop")
    div(class="inner-container")
        ul
            li
                i(class="fa fa-info")
                a(href="") Recursos
            li
                i(class="fa fa-copy")
                a(href="") Notas
            li
                i(class="fa fa-paperclip")
                a(href="") Papers y Casos
            li
                i(class="fa fa-video-camera")
                a(href="") Videos
            li
                i(class="fa fa-external-link")
                a(href="") Links

        div(class='logo-wrapper col_12')
            div(class="col_4")
                img(src="/images/logo-egade-dark.png")
            div(class="col_4")
            div(class="col_4")
                img(src="/images/logo-invescap-dark.png")
