section(class="hero-image-overlay")
    h2!= public._data.program_info.program_name
section(class="hero-image image-slider")
    ul(class="slideshow")
        li
            img(src="/images/hero-slideshow-1.png")
        li
            img(src="/images/map.png")
