section(class="program-infobox grid flex")
    div(class="col_6")
        if public._data.program_info.start_date
            h4!= public._data.program_info.start_date.day + " de " + public._data.month_names.es[public._data.program_info.start_date.month] + " de " + public._data.program_info.start_date.year
                                
        p
            strong Lugar: 
            != public._data.program_info.location
    div(class="col_6")
        h5 Contacto del Programa
        p 
            strong e mail: 
            a(href="mailto:" + public._data.program_info.contact.email)
                != public._data.program_info.contact.email

        p
            strong T: 
            != public._data.program_info.contact.phone
