section(class="hero-image-overlay")
    h2 Capital Privado &amp; Capital Emprendedor
section(class="hero-image image-slider")
    ul(class="slideshow")
        li
            img(src="images/hero-slideshow-1.png")
