div(class="inner-container")
    div(class="'col_12 full-width")
        div(class="col_12")
            img(src="/images/powered-by.png" class="center-image")
        div(class="col_6")
            img(src="/images/fondo-de-fondos.png" class="full-width")
        div(class="col_6")
            img(src="/images/mexcap.png" class="full-width")
