@require "defaults"
@require "globals"
@require "menu"
            
 // Page Sections           
.header
    background-color color-accent-darkest
    box-shadow 0 1px 10px 2px @background-color
    position relative
    z-index 1
    .inner-container
        &:after
            clearfix()
    .logo-wrapper
        *
            border-right 1px solid color-choice(@background-color)
            &:last-child
                border none
    .logo-egade
        image-choice(True, @background-color, "../images/logo-egade", "png")
    .logo-invescap
        image-choice(True, @background-color, "../images/logo-invescap", "png")
        float right
    // .header-menu
    //     // display inline-block
    //     square-icon-size(icon-size)
    //     image-choice(True, @background-color, "../images/icons/menu", "png")
    //     &:hover
    //         li
    //             display block
    //     li
    //         display none
.hero 
    background-color color-accent-middle
    &:after
        clearfix()
    h1
        display inline-block
        margin-top 0
        padding-top 25px
        margin-left 25px
        font-weight 500
        font-size 2.8rem
        color color-core-text
        text-transform uppercase
        border-bottom (@font-weight/175)px solid @color
    .hero-image  
        padding-bottom 45px
    .hero-image-overlay
        // background-image linear-gradient(152deg, color-accent-middle, color-accent-middle 7%, transparent 40%), linear-gradient(177deg, color-accent-middle, color-accent-middle 6%, transparent 13%)
        height 779px
        position absolute
        z-index 1
        width page-width
        h2
            padding-top 115px
            padding-left 115px
            width 450px
            color color-accent-lightest
            text-transform uppercase
            font-size 2.5rem
        
.program-infobox
    background-color color-accent-middle
    &:after
        clearfix()
    h4,
    h5        
        color color-core-text
        text-transform uppercase
        margin-bottom 1.0rem
    h4
        font-size 1.4rem
        font-weight 900
    h5
        font-size 1.2rem
    div
        color color-core-text
        text-align left
        font-size 1.2rem
        padding-right 15%
        font-weight 400
        p
            padding 0
            margin 0
        strong
            text-transform uppercase
        a
            color color-accent-darkest
        &:last-child
            text-align right
            font-size 1.1rem
            padding-left 20%
            padding-right 0
            strong
                text-transform none
            
.core
    h2
        text-transform uppercase
        font-size 21px
        padding-left 15px
        border-bottom 2px solid color-accent-darkest
        
.core-information
    position relative
    background-color color-accent-lightest
    color color-choice(@background-color, color-accent-lightest, color-accent-darkest)
    margin 20px 0 30px 120px
    footer        
        border-bottom 2px solid color-accent-darkest
        padding-bottom 5px
        &:after
            clearfix()
        .icon-social
            float right
            square-icon-size(icon-size* (2/3))
        .social-share
            image-choice(True, @background-color, "../images/icons/share", "png")
            &:hover
                image-choice(False, @background-color, "../images/icons/share", "png")
        .social-email
            image-choice(True, @background-color, "../images/icons/email", "png")
            &:hover
                image-choice(False, @background-color, "../images/icons/email", "png")
    ul.core-information-menu
        image-choice(True, @background-color, "../images/icons/menu", "png")
        &:hover
            li
                display block
        li
            display none
.information-slider
    background-color color-accent-darkest
    color color-accent-lightest
    margin 20px 0 30px
    padding-bottom 35px
    h2
        text-transform uppercase
        font-size 21px
        padding-left 15px
        border-bottom 2px solid color-accent-lightest
    div.bx-wrapper
        margin 30px auto
        background-color @background-color
        div.bx-viewport
            background-color @background-color
            color @color
    .speakers
        background-size 100% auto
        background-repeat no-repeat
        height 307px
    .vanessa-kolodziej
        background-image url("../images/speakers-vanessa-kolodziej.png")
.footer
    background-color color-accent-lightest
    &:after
        clearfix()
    .footer-icons
        float right
    .logo-wrapper
        *
            border-right 1px solid color-choice(@background-color)
            &:last-child
                border none
        &:before
            clearfix()
    
    .logo-egade
        image-choice(True, @background-color, "../images/logo-egade", "png")
    .logo-invescap
        image-choice(True, @background-color, "../images/logo-invescap", "png")
        float right
        
    .social-facebook
        image-choice(True, @background-color, "../images/icons/facebook", "png")
        &:hover
            image-choice(False, @background-color, "../images/icons/facebook", "png")
        
    .social-twitter
        image-choice(True, @background-color, "../images/icons/twitter", "png")
        &:hover
            image-choice(False, @background-color, "../images/icons/twitter", "png") 
    .social-share
        image-choice(True, @background-color, "../images/icons/share", "png")
        &:hover
            image-choice(False, @background-color, "../images/icons/share", "png") 
            
    .footer-menu
        display inline-block
        square-icon-size(icon-size)
        image-choice(True, @background-color, "../images/icons/menu", "png")
                
    ul
        margin 0
        li
            list-style-type none
            display inline-block
            a
                color color-accent-lightest
                text-transform uppercase
            ul
                display none
            &:hover
                ul
                    display block    
