@require "defaults"
@require "globals"
@require "menu"
            
 // Page Sections           
.header
    background-color color-accent-dark
    box-shadow 0 1px 10px 2px @background-color
    position relative
    z-index 1
    .inner-container
        &:after
            clearfix()

.hero 
    background-color color-accent-medium
    &:after
        clearfix()
    h1
        display inline-block
        margin-top 0
        padding-top 25px
        margin-left 25px
        font-weight 500
        font-size 2.8rem
        color color-content-text
        text-transform uppercase
        border-bottom (@font-weight/175)px solid @color
    .hero-image  
        padding-bottom 45px
    .hero-image-overlay
        // background-image linear-gradient(152deg, color-accent-medium, color-accent-medium 7%, transparent 40%), linear-gradient(177deg, color-accent-medium, color-accent-medium 6%, transparent 13%)
        height 779px
        position absolute
        z-index 1
        width page-width
        h2
            padding-top 115px
            padding-left 115px
            width 450px
            color color-accent-light
            text-transform uppercase
            font-size 2.5rem
        
.program-infobox
    background-color color-accent-medium
    &:after
        clearfix()
    h4,
    h5        
        color color-content-text
        text-transform uppercase
        margin-bottom 1.0rem
    h4
        font-size 1.4rem
        font-weight 900
    h5
        font-size 1.2rem
    div
        color color-content-text
        text-align left
        font-size 1.2rem
        padding-right 15%
        font-weight 400
        p
            padding 0
            margin 0
        strong
            text-transform uppercase
        a
            color color-accent-dark
        &:last-child
            text-align right
            font-size 1.1rem
            padding-left 20%
            padding-right 0
            strong
                text-transform none
            
.core
    h2
        text-transform uppercase
        font-size 21px
        padding-left 15px
        border-bottom 2px solid color-accent-dark
    .dinamica
        background-color color-accent-light
        color color-accent-dark
        h2
            border-bottom none
            
    .speakers-and-modules
        background-color color-accent-medium
        &:after
            clearfix()
        h2
            text-align center
            font-size 2.8rem
            padding 15px 0
            background-color color-accent-dark
            color color-accent-light
            border none
        h3
            font-size 2.8rem
            padding 0
            color color-accent-dark
            text-transform uppercase
            margin-bottom 0.25em
        // .module-container
        //     padding 0 20%
        .module
            padding-bottom 25px
            i
                margin 0
                // margin-top 0.2vw
                font-size 1.9vw
                line-height @font-size
            table
                border 0
                td
                    border 0
                & tr:first-child td
                    i
                        color color-accent-contrast
                & td:first-child
                    vertical-align top
                & td:last-child
                    vertical-align medium
                    padding-top 0
            p
                font-size 1.8rem
                margin 0
                padding 0 0 0 5px
                &.title
                    font-weight bold
                    text-transform uppercase
                &.date 
                    em
                        margin 0 5px
                        color color-accent-contrast
.core-information
    position relative
    background-color color-accent-light
    color color-choice(@background-color, color-accent-light, color-accent-dark)
    margin 20px 0 30px 120px
    footer        
        border-bottom 2px solid color-accent-dark
        padding-bottom 5px
        &:after
            clearfix()
        .icon-social
            float right
            square-icon-size(icon-size* (2/3))
        .social-share
            image-choice(True, @background-color, "../images/icons/share", "png")
            &:hover
                image-choice(False, @background-color, "../images/icons/share", "png")
        .social-email
            image-choice(True, @background-color, "../images/icons/email", "png")
            &:hover
                image-choice(False, @background-color, "../images/icons/email", "png")
    // ul.core-information-menu
    //     image-choice(True, @background-color, "../images/icons/menu", "png")
    //     &:hover
    //         li
    //             display block
    //     li
    //         display none
.information-slider
    background-color color-accent-dark
    color color-accent-light
    margin 20px 0 30px
    padding-bottom 35px
    h2
        text-transform uppercase
        font-size 21px
        padding-left 15px
        border-bottom 2px solid color-accent-light
    div.bx-wrapper
        margin 30px auto
        background-color @background-color
        div.bx-viewport
            background-color @background-color
            color @color
    .speakers
        background-size 100% auto
        background-repeat no-repeat
        height 307px
    .vanessa-kolodziej
        background-image url("../images/speakers-vanessa-kolodziej.png")
.footer
    background-color color-accent-light
    &:after
        clearfix()
    // .footer-icons
    //     float right
    .logo-wrapper
        // *
        //     border-right 1px solid color-choice(@background-color)
        //     &:last-child
        //         border none
        img
            width 100%
        &:before
            clearfix()
    
    // .logo-egade
    //     image-choice(True, @background-color, "../images/logo-egade", "png")
    // .logo-invescap
    //     image-choice(True, @background-color, "../images/logo-invescap", "png")
        // float right
        
    // .social-facebook
    //     image-choice(True, @background-color, "../images/icons/facebook", "png")
    //     &:hover
    //         image-choice(False, @background-color, "../images/icons/facebook", "png")
        
    // .social-twitter
    //     image-choice(True, @background-color, "../images/icons/twitter", "png")
    //     &:hover
    //         image-choice(False, @background-color, "../images/icons/twitter", "png") 
    // .social-share
    //     image-choice(True, @background-color, "../images/icons/share", "png")
    //     &:hover
    //         image-choice(False, @background-color, "../images/icons/share", "png") 
            
    // .footer-menu
    //     display inline-block
    //     square-icon-size(icon-size)
    //     image-choice(True, @background-color, "../images/icons/menu", "png")
                
    ul
        margin 30px 10% 80px
        li
            margin 0
            padding 0.1rem
            list-style-type none
            font-size 2.4rem
            line-height @font-size + 0.1
            position relative
            i
                color color-accent-medium
                position absolute
                top 0.2rem
            a
                color color-accent-dark
                text-transform uppercase   
                font-weight bold
                padding-left 45px
