// Tag Overrides / Resets
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: inherit;
  /* this disables font boosting on mobile chrome... */
  max-height: 10000vh;
  /* this might also do the same thing one day... */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6
    margin 0
body
    margin 0
    background-color color-core-background
    font-family font-family-main
a
    text-decoration none
    
// Global Settings
.icon-social
    square-icon-size(icon-size)
.inner-container
    width page-width
    margin 0 auto
.logo-wrapper
    margin 20px 0
    *
        border-right 1px solid color-accent-lightest
        &:last-child
            border none
.logo 
    background-repeat no-repeat 
    display inline-block
    height 75px
    width 370px
    background-size @width - 40, @height  

// Slideshow Global Settings
.hero,
.image-slider
    div.bx-wrapper  
        box-shadow(none)
        div.bx-viewport
            box-shadow(none)
            border 0
