// Menu Settings
.menu
    background transparent
    li
        a
            text-shadow none
ul.horizontal-menu
    margin 0
        a
            color color-core-text
                
ul.horizontal-menu-primary
    border-style solid
    border-color color-accent-darkest-transparent transparent color-core-text
    border-width 1px 0
    li
        width 25%
        text-align center
        a
            width 100%
            color color-core-text
            letter-spacing 3px
            // font-variant small-caps
            text-transform uppercase
        &.has-menu
            a
                span.arrow
                    display none
        &:hover,
        .hover
            a
                background-color color-accent-lightest
        ul
            width 100%
            font-size 1.0rem
            li
                width 100%
                &:hover,
                .hover
                    a
                        background-color color-accent-darkest
                        color color-accent-lightest
                
ul.horizontal-menu-primary-submenu
    border-width 1px 0 0 0
ul.horizontal-menu-secondary
    border none
    li
        &:first-child
            margin-right 20px
        a
            // font-variant small-caps
            text-transform uppercase
            font-size 1.1rem
            color color-core-text

.core-information-menu
    position: absolute;
    left: -170px;
    top: 20px;
    float: left;
    square-icon-size(icon-size)
    background-position  top right
    width 150px
    ul
        display none
        margin-top icon-size
        background-color color-accent-darkest-transparent
        li
            a
                color color-accent-darkest
                text-transform uppercase
                font-weight bold
    &:hover
        ul
            display block
