@require "defaults"
.bx-wrapper
    .bx-controls-direction
        a
            text-indent 0
            margin-top 0
            color color-accent-dark
            font-size fs-title-large
    .bx-next,
    .bx-prev
        background none
