extends ./layout.jade

block content
    section(class="core core-desktop")
        include ./components/home_programa
        include ./components/home_map
        include ./components/home_que-es-invescap
        include ./components/home_objetivos
        include ./components/home_dinamica
        include ./components/home_speakers-and-modules
        
        //- section(class="image-slider information-slider")
        //-     div(class="inner-container")
        //-         h2 Speakers
        //-         ul(class="slideshow")
        //-             li(class="grid")
        //-                 div(class="col_8")
        //-                     h4 Vanessa Kolodziej
        //-                     p Co-fundadora de NAZCA ventures.
        //-                     p Actual CFO de CAAPITAL
        //-                 div(class="col_4")
        //-                     div(class="speakers vanessa-kolodziej")
