doctype html
html(lang="es")
    include ./components/file_header
    body
        include ./components/page_header
        section(class="hero hero-desktop")

            div(class="inner-container")
                h1!= public._data.program_info.school_name
                include ./components/page_menu_secondary
                include ./components/page_menu_primary

                include ./components/program_info
                include ./components/program_image_slider

        block content
        include ./components/page_footer
