// Tag Overrides / Resets
h1, h2, h3, h4, h5, h6
    margin 0
body
    margin 0
    background-color color-core-background
    font-family font-family-main
a
    text-decoration none
    
// Global Settings
.icon-social
    square-icon-size(icon-size)
.inner-container
    width page-width
    margin 0 auto
.logo-wrapper
    margin 20px 0
    *
        border-right 1px solid color-accent-lightest
        &:last-child
            border none
.logo 
    background-repeat no-repeat 
    display inline-block
    height 56px
    width 291px
    background-size 271px, @height  

// Slideshow Global Settings
.hero,
.image-slider
    div.bx-wrapper  
        box-shadow(none)
        div.bx-viewport
            box-shadow(none)
            border 0
